<div class="chat-app">
    <!-- Contacts Navigation -->
    <div class="contacts-nav">
        <div class="header">
            <h2> Madhav's Offline Chat</h2>
        </div>
        <div class="search" (keyup)="searchUser(search.value)">
            <i class="fa fa-search"></i>
            <input type="text" #search placeholder="Search">
        </div>
        <div class="contacts">

            <div class="contact"  *ngFor="let contact of userData;let i = index" [ngClass]="{ 'selected': contact.id == selectedContact.id }"  (click)="selectedUser(i)">
                <div class="img" *ngIf="contact.user.toUpperCase().includes(searchedUser) || searchedUser == null">
                    <img src="{{contact.img}}" alt="{{contact.user}}">
                </div>
                <div class="text" *ngIf="contact.user.toUpperCase().includes(searchedUser) || searchedUser == null">
                    <h4>{{contact.user}}</h4>
                    <p *ngIf="contact.messages.length == 0"> <i> Start a conversation with {{contact.user}} </i> </p>
                    <p *ngIf="contact.messages.length != 0"> {{contact.messages[contact.messages.length-1].text |  slice:0:50 }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-area">
        <div class="header">
            <h3>{{selectedContact?.user}}</h3>
        </div>
        <div class="chat">
            <div *ngIf="messagesEmpty" class="emptyChat">
                <p>You have not started a conversation yet</p>
            </div>
            <div class="msg" *ngFor="let chat of selectedContact?.messages" [ngClass]="{ 'outgoing': chat.createdBy == 0 }">
                <div *ngIf="chat.createdBy == 0" class="img">
                    <img src="https://randomuser.me/api/portraits/men/13.jpg" alt="Madhav Sharma">
                    <p>{{chat.created | date:'shortTime'}}</p>
                </div>
                <div *ngIf="chat.createdBy != 0" class="img">
                    <img src="{{selectedContact.img}}" alt="{{selectedContact.user}}">
                    <p>{{chat.created | date:'shortTime'}}</p>
                </div>
                <div class="text">
                    <p> {{chat.text}}</p>
                </div>
            </div>
        </div>
        <form class="send-message" (ngSubmit)="onSubmit(msg.value); msg.value=''">
            <div class="icon">
                <i class="fa fa-paperclip"></i>
            </div>
            <input type="text" #msg placeholder="Type here to send a message ...">
        </form>
    </div>
</div>